[credential "https://github.com"]
	helper = 
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !gh auth git-credential
[credential "https://codeberg.org"]
        helper =
        helper = !gh auth git-credential
[user]
	email = BarryLhm@outlook.com
	name = BarryLhm
[core]
	editor = nano
[safe]
	directory = /storage/emulated/0/reclist
	directory = /storage/emulated/0
	directory = /storage/emulated/0/FCL/.minecraft/versions/Main/mods
	directory = /storage/emulated/0/mcserv/mods
	directory = /storage/emulated/0/mcserv
	directory = /storage/emulated/0/mcserv/world
	directory = /storage/emulated/0/mcserv/logs
[url "https://github.akams.cn/https://github.com/"]
#	insteadOf = https://github.com/
[diff "moss"]
	textconv = moss inspect
	binary = true
[alias]
	gone = "!f() { git fetch --all --prune; git branch -vv | awk '/: gone]/{print $1}' | xargs git branch -D; }; f"
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
